<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Label - Premium Responsive Bootstrap 4 Admin & Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/content_user/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/content_user/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="~/content_user/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="~/content_user/images/favicon.ico" />
    <!-- icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ensa_logo.png" />
</head>
<body class="header-fixed">

    @RenderBody()
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="~/content_user/vendors/js/core.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="~/content_user/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/content_user/vendors/chartjs/Chart.min.js"></script>
    <script src="~/content_user/js/charts/chartjs.addon.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="~/content_user/js/template.js"></script>
    <script src="~/content_user/js/dashboard.js"></script>
    <!-- endbuild -->

</body>
</html>
