@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="page-content-wrapper-inner">
    <div class="content-viewport">
        <h3>Hello</h3>
    </div>
</div>
